.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background: lightgray;
}
.generate-container {
  display: flex;
}
.generate {
  background: black;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  font-size: 20px;
  margin: auto;
  border-radius: 5px;
  border-color: whitesmoke;

}
.generate:hover {
  background: whitesmoke;
  color: black;
}
.meme-container {
  display: flex;
  height: 50%;
  width: 80%;
  margin: auto;
}
.generated-meme {
  margin: auto;
  height: 80%;
  width: 80%;
  object-fit: cover;
}
img[src=""] {
  display: none;
}
.display-saved-container {
  display: flex;
  height: 50%;
  width: 80%;
  margin: auto;
  flex-direction: column;
}
img{
  margin: auto;
  height: 80%;
  width: 80%;
  object-fit: cover;
}
